extends layout

block layout-content
  block content 
    .textcontent
      h2 Why us?
      p At WMM, 
      p we understand the challenges that come with estate planning, 
      p probate, and other legal issues that can arise later in life. 
      p Our team of experienced solicitors is dedicated to providing 
      p tailored solutions to meet the unique needs of our clients.
      p 
      p Our firm has been serving clients in the UK for over 30 years. 
      p During that time, we have built a reputation for providing 
      p exceptional legal services and achieving positive outcomes for our clients.
    .contentimg
