extends layout

block layout-content
  header
    .banner
      img(src='img/LOGO.png', alt='Logo')
    .quicknav
      ul
        li
          a(href='#') Home
        li
          a(href='#') About
        li
          a(href='#') Services
        li
          a(href='#') Contact
    .bannerimage