<<<<<<< HEAD
block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | WMM
    link(rel="stylesheet" href="/style.css")
  body
    div#root
=======
block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | WMM
    link(rel="stylesheet" href="/style.css")
  body
    div#root
>>>>>>> 136c6a885787a7f4810685ebdbe3453ec7a77b9a
      block layout-content