block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title} | WMM
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/styles.css")

  body
    
    div#root
      header
        .banner
          img(src='img/LOGO.png', alt='Logo')
        .bannerimage
          .bannertext
            h1 "A Laywer You Can Trust"
        .quicknav
          ul
            li
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Services
            li
              a(href='#') Contact
      block layout-content
      footer 
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", type="text/javascript")
        button(
          id = "chaticon"
          class = "chatbtn"
        )
        div(class = "chatwindow")
          div(class = "chatwindowheader")
            span(class = "chatheadertext") Can we help?
            div(class = "dropdown")
              select(class = "choicedropdown" id = "choicedropdown")
                option(value='basic') Basic Hard-Coded
                option(value='openai') OpenAI API
          div(class = "chatarea")
            div(class = "message")
              p(id="firstbotmessage")
                span(class = "botmsg") Loading...

          div(class="input")
            input(class="entrybox" type="text")
            button(id = "submitbtn" class = "send")

          div(id="chatbottom")
            p
              span(class = "botmsg")
          

      script(type='text/javascript', src='scripts/main.js')
      script(type='text/javascript', src='scripts/response.js')
      script(type='text/javascript', src='scripts/openai.js')



              